.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* payton edits */
html {
  background-color:#E9E9E9;
}

/*removes extra whitespace at top of page*/
*{
  margin: 0;
}

.App{
  /*position: absolute; left: 37vw; top: 80px;*/
  margin-left: 100px;
  position: relative; top: 250px;

}

.submitButton{
  color:black;
  margin: 5px;
}

img{
  position: absolute;
  top: 100px;
  left: 220px;
  filter: drop-shadow(2px 2px #80723c);
}

.title{
  font-size:120px;
  position: absolute;
  left: 310px;
  text-align: center;
  top: -150px;
  color:#af943b;
  text-shadow: 2px 2px 2px #80723c;
  font-family: "Verdana", sans-serif;
}

h1, h2{
  font-family: "Verdana", sans-serif;
}

.signOutButton {
  margin: 20px;
}

p{
  right: -40px;
  top: -2px;
  position: relative;
}